@{
    Layout = "~/Views/Shared/_Scripts.cshtml";
}
@model GhostRunner.ViewModels.Scripts.IndexModel

<script language="javascript" type="text/javascript">
    function createScript() {
        $.ajax({
            url: '@Url.Action("GetCreateScriptDialog", "Scripts")',
            type: "GET",
            data: {
                projectId: '@Model.Project.ExternalId'
            },
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }

    function editScript(scriptId) {
        $.ajax({
            url: '@Url.Action("GetEditScriptDialog", "Scripts")',
            type: "GET",
            data: {
                scriptId: scriptId
            },
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }

    function deleteScript(scriptId) {
        $.ajax({
            url: '@Url.Action("ConfirmDeleteScript", "Scripts")',
            type: "GET",
            data: {
                scriptId: scriptId
            },
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }

    function runScript(scriptId) {
        $.ajax({
            url: '@Url.Action("GetRunScriptDialog", "Scripts")',
            type: "GET",
            data: {
                scriptId: scriptId
            },
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }

    function showScriptTaskDetail(scriptId) {
        $("#script-task-detail_" + scriptId).show();
        $("#script-task-more_" + scriptId).hide();
        $("#script-task-hide_" + scriptId).show();
    }

    function hideScriptTaskDetail(scriptId) {
        $("#script-task-detail_" + scriptId).hide();
        $("#script-task-more_" + scriptId).show();
        $("#script-task-hide_" + scriptId).hide();
    }

    function showScriptDetail(scriptId) {
        $("#script-detail_" + scriptId).show();
        $("#script-more_" + scriptId).hide();
        $("#script-hide_" + scriptId).show();
    }

    function hideScriptDetail(scriptId) {
        $("#script-detail_" + scriptId).hide();
        $("#script-more_" + scriptId).show();
        $("#script-hide_" + scriptId).hide();
    }

    $(document).ready(function () {
        $('#back-to-projects').click(function () {
            window.location = '@Url.Action("Index", "Main")';
        });
    });
</script>

<div class="header-bar">
    <img id="logo" src="~/Images/logo.png" class="left" />
    <div id="logo-title" class="left">GhostRunner</div>
    <div id="action-container" class="right">
        <div id="user-profile-menu" class="right"><button>@Model.User.Name</button></div>
        <div class="right"><button id="back-to-projects">Back to Projects</button></div>
    </div>
    <div class="clear"></div>
</div>
<div id="page-content">
    <div class="content-list">
        <div class="header left">Scripts</div>
        <div class="header-button right"><button id="create-script-button" onclick="createScript()">Create</button></div>
        <div class="clear"></div>
        @if (Model.Scripts.Count > 0)
        {
            foreach (Script script in Model.Scripts)
            {
                <div class="item-container">
                    <div class="title">@script.Name</div>
                    <div class="desc">@script.Description</div>
                    @if (!String.IsNullOrEmpty(script.Content))
                    {
                        <div id="script-detail_@script.ExternalId" class="details" style="display:none">
                            @if (script.GetAllParameters().Count() > 0)
                            {
                                <div class="detail-header">Parameters</div>
                                foreach (String parameter in script.GetAllParameters())
                                {
                                    <div class="parameter">[@parameter]</div>
                                }
                                <br />
                                <br />
                            }
                            <div class="detail-header">Script</div>
                            <div class="code">@Html.Raw(script.GetHTMLFormattedContent())</div>
                        </div>
                        <span id="script-more_@script.ExternalId" class="more left" onclick="showScriptDetail('@script.ExternalId')">More...</span>
                    }
                    else
                    {
                        <span class="more">This scripts content currently isn't defined</span>
                    }
                    <span id="script-hide_@script.ExternalId" class="more left" onclick="hideScriptDetail('@script.ExternalId')" style="display:none">Less...</span>
                    @if (!String.IsNullOrEmpty(script.Content))
                    {
                        <button class="right" onclick="runScript('@script.ExternalId')">Run</button>
                    }
                    <button class="right" onclick="editScript('@script.ExternalId')">Edit</button>
                    <button class="right" onclick="deleteScript('@script.ExternalId')">Delete</button>
                    <div class="clear"></div>
                </div>
            }
        }
        else
        {
            <div><i>You currently have no scripts defined</i></div>
        }
    </div>
</div>