@{
    Layout = "~/Views/Shared/_Scripts.cshtml";
}
@model GhostRunner.ViewModels.Scripts.IndexModel

<script language="javascript" type="text/javascript">
    function createScript() {
        $.ajax({
            url: '@Url.Action("GetCreateScriptDialog", "Scripts")',
            type: "GET",
            data: {
                projectId: '@Model.Project.ExternalId'
            },
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }

    function runScript(scriptId) {
        $.ajax({
            url: '@Url.Action("GetRunScriptDialog", "Scripts")',
            type: "GET",
            data: {
                scriptId: scriptId
            },
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }

    function editScript(scriptId) {
        $.ajax({
            url: '@Url.Action("GetEditScriptDialog", "Scripts")',
            type: "GET",
            data: {
                scriptId: scriptId
            },
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }

    function deleteScript(scriptId) {
        $.ajax({
            url: '@Url.Action("ConfirmDeleteScript", "Scripts")',
            type: "GET",
            data: {
                scriptId: scriptId
            },
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }

    function showScriptDetail(scriptId) {
        $("#script-detail_" + scriptId).show();
        $("#script-action_" + scriptId).show();
        $("#script-more_" + scriptId).hide();
        $("#script-hide_" + scriptId).show();
    }

    function hideScriptDetail(scriptId) {
        $("#script-detail_" + scriptId).hide();
        $("#script-action_" + scriptId).hide();
        $("#script-more_" + scriptId).show();
        $("#script-hide_" + scriptId).hide();
    }

    $(document).ready(function () {
        $('#schedule-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "Schedules")';
        });

        $('#sequences-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "Sequences")';
        });

        $('#scripts-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "Scripts")';
        });

        $('#history-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "History")';
        });

        $('#back-to-projects').click(function () {
            window.location.href = '@Url.Action("Index", "Main")';
        });

        $(".button-visibility").click(function (e) {
            e.stopPropagation();
            e.preventDefault();

            var scriptIdParts = this.id.split("_");

            if (!$("#button-container_" + scriptIdParts[1]).is(":visible")) {
                $("#button-container_" + scriptIdParts[1]).show();
                $(this).html(">");
            }
            else {
                $("#button-container_" + scriptIdParts[1]).hide();
                $(this).html("<");
            }
        });
    });
</script>

<div class="header-bar">
    <img id="logo" src="~/Images/logo.png" class="left" />
    <div id="logo-title" class="left">GhostRunner</div>
    <div id="action-container" class="right">
        <div id="user-profile-menu" class="right button-padding"><button>@Model.User.Name</button></div>
        <div class="right"><button id="back-to-projects">Back to Projects</button></div>
    </div>
    <div class="clear"></div>
</div>
<div id="page-content">
    <div id="page-navigation">
        <ul class="left">
            <li id="schedule-nav">Schedule</li>
            <li id="sequences-nav">Sequences</li>
            <li id="scripts-nav" class="selected">Scripts</li>
            <li id="history-nav">History</li>
        </ul>
        <div class="header-button right"><button id="create-script-button" onclick="createScript()">Create</button></div>
        <div class="clear"></div>
    </div>
    <div id="main" class="page-panel">
        @if (Model.Scripts.Count > 0)
        {
            foreach (Script script in Model.Scripts)
            {
                <div class="item-container">
                    <div class="left" style="width: 555px;">
                        <div class="title">@script.Name</div>
                        <div class="desc">@script.Description</div>
                    </div>
                    <div id="button-container_@script.ExternalId" class="button-container" style="margin-top:10px;">
                        @if (!String.IsNullOrEmpty(script.Content))
                        {
                            <button class="right button-padding" onclick="runScript('@script.ExternalId')">Run</button>
                        }
                        <button class="right button-padding" onclick="editScript('@script.ExternalId')">Edit</button>
                        <button class="right" onclick="deleteScript('@script.ExternalId')">Delete</button>
                        <div class="clear"></div>
                    </div>
                    <div id="button-visibility_@script.ExternalId" class="button-visibility" style="margin-top:15px;"><</div>
                    <div class="clear"></div>
                    <div id="script-detail_@script.ExternalId" class="detail" style="display:none">
                        <div class="detail-header">External ID</div>
                        <div>@script.ExternalId</div>
                        <br />
                        @if (!String.IsNullOrEmpty(script.Content))
                        {
                            if (script.GetAllParameters().Count() > 0)
                            {
                                <div class="detail-header">Parameters</div>
                                foreach (String parameter in script.GetAllParameters())
                                {
                                    <div class="parameter">[@parameter]</div>
                                }
                                <br />
                                <br />
                            }
                            <div class="detail-header">Script</div>
                            <div class="code">@Html.Raw(script.GetHTMLFormattedContent())</div>
                        }
                        else
                        {
                            <span class="more">This scripts content currently isn't defined</span>
                        }
                    </div>
                    <span id="script-more_@script.ExternalId" class="left more" onclick="showScriptDetail('@script.ExternalId')">More...</span>
                    <span id="script-hide_@script.ExternalId" class="left more" onclick="hideScriptDetail('@script.ExternalId')" style="display:none">Less...</span>
                    <div class="clear"></div>
                </div>
            }
        }
        else
        {
            <div class="none-defined">You currently have no scripts defined</div>
        }
    </div>
</div>