@{
    Layout = "~/Views/Shared/_Schedule.cshtml";
}
@model GhostRunner.ViewModels.Schedules.IndexModel

<script language="javascript" type="text/javascript">
    function scheduleItem() {
        $.ajax({
            url: '@Url.Action("GetAddScheduledItemDialog", "Schedules")',
            type: "GET",
            data: {
                projectId: '@Model.Project.ExternalId'
            },
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }

    function editSchedule(scheduleId) {
        $.ajax({
            url: '@Url.Action("GetEditScheduleDialog", "Schedules")',
            type: "GET",
            data: {
                scheduleId: scheduleId
            },
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }

    function deleteSchedule(scheduleId) {
        $.ajax({
            url: '@Url.Action("ConfirmDeleteSchedule", "Schedules")',
            type: "GET",
            data: {
                scheduleId: scheduleId
            },
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }

    $(document).ready(function () {
        $(document).click(function (e) {
            if ($("#user-menu").is(":visible")) $("#user-menu").hide();
        });

        $("#user-menu-select").click(function (e) {
            e.stopPropagation();
            e.preventDefault();

            if ($("#user-menu").is(":visible")) $("#user-menu").hide();
            else $("#user-menu").show();
        });

        $("#user-menu").click(function (e) {
            e.stopPropagation();
            e.preventDefault();
        });

        $("#logout-menu-item").click(function (e) {
            window.location.href = '@Url.Action("Logout", "Home")';
        });

        $('#schedule-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "Schedules")';
        });

        $('#sequences-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "Sequences")';
        });

        $('#scripts-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "Scripts")';
        });

        $('#history-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "History")';
        });

        $('#back-to-projects').click(function () {
            window.location.href = '@Url.Action("Index", "Main")';
        });

        $(".button-visibility").click(function (e) {
            e.stopPropagation();
            e.preventDefault();

            var scheduleIdParts = this.id.split("_");

            if (!$("#button-container_" + scheduleIdParts[1]).is(":visible")) {
                $("#button-container_" + scheduleIdParts[1]).show();
                $(this).html(">");
            }
            else {
                $("#button-container_" + scheduleIdParts[1]).hide();
                $(this).html("<");
            }
        });
    });
</script>

<div class="header-bar">
    <img id="logo" src="~/Images/logo.png" class="left" />
    <div id="logo-title" class="left">GhostRunner</div>
    <div id="action-container" class="right">
        <div id="user-profile-menu" class="right button-padding">
            <button id="user-menu-select">@Model.User.Name</button>
            <div id="user-menu" class="menu" style="display: none">
                <div id="logout-menu-item" class="menu-item">Log Out</div>
            </div>
        </div>
        <div class="right"><button id="back-to-projects">Back to Projects</button></div>
    </div>
    <div class="clear"></div>
</div>
<div id="page-content">
    <div id="page-navigation">
        <ul class="left">
            <li id="schedule-nav" class="selected">Schedule</li>
            <li id="sequences-nav">Sequences</li>
            <li id="scripts-nav">Scripts</li>
            <li id="history-nav">History</li>
        </ul>
        <div class="header-button right"><button id="create-script-button" onclick="scheduleItem()">Add</button></div>
        <div class="clear"></div>
    </div>
    <div id="main" class="page-panel">
        @if (Model.ScheduleItems.Count > 0)
        {
            if (Model.HasDailyItems())
            {
                <div class="item-container">
                    <div class="title">Daily</div>
                    @foreach (IScheduleItem scheduleItem in Model.GetDailyItems())
                    {
                        <div class="item-container scheduled">
                            <div class="left" style="max-width: 580px;">
                                <div class="schedule-title">@scheduleItem.Name</div>
                                <div class="schedule-time">@scheduleItem.ScheduleDetail</div>
                            </div>
                            <div id="button-container_@scheduleItem.ExternalId" class="button-container">
                                <button class="right button-padding" onclick="editSchedule('@scheduleItem.ExternalId')">Edit</button>
                                <button class="right" onclick="deleteSchedule('@scheduleItem.ExternalId')">Delete</button>
                                <div class="clear"></div>
                            </div>
                            <div id="button-visibility_@scheduleItem.ExternalId" class="button-visibility"><</div>
                            <div class="clear"></div>
                        </div>
                    }
                </div>
            }
            if (Model.HasWeeklyItems())
            {
                <div class="item-container">
                    <div class="title">Weekly</div>
                    @foreach (IScheduleItem scheduleItem in Model.GetWeeklyItems())
                    {
                        <div class="item-container scheduled">
                            <div class="left" style="max-width: 580px;">
                                <div class="schedule-title">@scheduleItem.Name</div>
                                <div class="schedule-time">@scheduleItem.ScheduleDetail</div>
                            </div>
                            <div id="button-container_@scheduleItem.ExternalId" class="button-container">
                                <button class="right button-padding" onclick="editSchedule('@scheduleItem.ExternalId')">Edit</button>
                                <button class="right" onclick="deleteSchedule('@scheduleItem.ExternalId')">Delete</button>
                                <div class="clear"></div>
                            </div>
                            <div id="button-visibility_@scheduleItem.ExternalId" class="button-visibility"><</div>
                            <div class="clear"></div>
                        </div>
                    }
                </div>
            }
            if (Model.HasMonthlyItems())
            {
                <div class="item-container">
                    <div class="title">Monthly</div>
                    @foreach (IScheduleItem scheduleItem in Model.GetMonthlyItems())
                    {
                        <div class="item-container scheduled">
                            <div class="left" style="max-width: 580px;">
                                <div class="schedule-title">@scheduleItem.Name</div>
                                <div class="schedule-time">@scheduleItem.ScheduleDetail</div>
                            </div>
                            <div id="button-container_@scheduleItem.ExternalId" class="button-container">
                                <button class="right button-padding" onclick="editSchedule('@scheduleItem.ExternalId')">Edit</button>
                                <button class="right" onclick="deleteSchedule('@scheduleItem.ExternalId')">Delete</button>
                                <div class="clear"></div>
                            </div>
                            <div id="button-visibility_@scheduleItem.ExternalId" class="button-visibility"><</div>
                            <div class="clear"></div>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <div class="none-defined">You currently have nothing scheduled</div>
        }
    </div>
</div>