@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GhostRunner.ViewModels.Home.SignInModel

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('#signup-button').click(function () {
            window.location = '@Url.Action("SignUp")';
        });

        $('#signin-button').click(function () {
            window.location = '@Url.Action("SignIn")';
        });
    });
</script>

<div class="header-bar">
    <img id="logo" src="~/Images/logo.png" class="left" />
    <div id="logo-title" class="left">GhostRunner</div>
    <div id="authenticate-container" class="right">
        <button id="signup-button">CREATE AN ACCOUNT</button>
        <button id="signin-button">Sign In</button>
    </div>
    <div class="clear"></div>
</div>
<div id="page-content">
    @using (Html.BeginForm("SignIn", "Home", FormMethod.Post))
    {
        <div id="authenticate-panel" class="panel">
            <div class="header">Sign In</div>
            <div class="body">
                @if (!String.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="error-code">@Model.ErrorMessage</div>
                }
                <div class="section">
                    <div class="header">E-mail Address @Html.ValidationMessageFor(model => model.User.Email)</div>
                    <div class="input-container">@Html.TextBoxFor(model => model.User.Email)</div>
                </div>
                <div class="section">
                    <div class="header">Password @Html.ValidationMessageFor(model => model.Password)</div>
                    <div class="input-container">@Html.PasswordFor(model => model.Password)</div>
                </div>
            </div>
            <div class="navigation">
                <div class="right"><input type="submit" value="Login" /></div>
                <div class="clear"></div>
            </div>
        </div>
    }
</div>