@{
    Layout = "~/Views/Shared/_Main.cshtml";
}
@model GhostRunner.ViewModels.History.IndexModel

<script language="javascript" type="text/javascript">
    function showScriptTaskDetail(scriptId) {
        $("#script-task-detail_" + scriptId).show();
        $("#script-task-more_" + scriptId).hide();
        $("#script-task-hide_" + scriptId).show();
    }

    function hideScriptTaskDetail(scriptId) {
        $("#script-task-detail_" + scriptId).hide();
        $("#script-task-more_" + scriptId).show();
        $("#script-task-hide_" + scriptId).hide();
    }

    function showScriptDetail(scriptId) {
        $("#task-script-detail-container_" + scriptId).show();
        $("#task-script-detail-more_" + scriptId).hide();
        $("#task-script-detail-hide_" + scriptId).show();
    }

    function hideScriptDetail(scriptId) {
        $("#task-script-detail-container_" + scriptId).hide();
        $("#task-script-detail-more_" + scriptId).show();
        $("#task-script-detail-hide_" + scriptId).hide();
    }

    function loadTasks() {
        var taskId = null;

        $("#script-task-container").children().each(function () {
            taskId = $(this).attr("task-id");
        });

        $.ajax({
            url: '@Url.Action("GetTasks", "History")',
            type: "GET",
            data: {
                projectId: '@Model.Project.ExternalId',
                endTaskId: taskId
            },
            success: function (response) {
                if ((response != null) && (response.length > 0)) {
                    $("#script-task-container").append(response);

                    var taskCount = 0;

                    $(response).each(function () {
                        if ($(this).hasClass("script-task")) taskCount++;
                    });

                    if (taskCount < 15) $("#load-tasks-container").hide();
                }
                else $("#load-tasks-container").hide();
            }
        });
    }

    $(document).ready(function () {
        $(document).click(function (e) {
            if ($("#user-menu").is(":visible")) $("#user-menu").hide();
        });

        $("#user-menu-select").click(function (e) {
            e.stopPropagation();
            e.preventDefault();

            if ($("#user-menu").is(":visible")) $("#user-menu").hide();
            else $("#user-menu").show();
        });

        $("#user-menu").click(function (e) {
            e.stopPropagation();
            e.preventDefault();
        });

        $("#package-cache-menu-item").click(function (e) {
            $("#user-menu").hide();

            $.ajax({
                url: '@Url.Action("GetPackageCache", "PackageCaching")',
                type: "GET",
                data: {
                    projectId: '@Model.Project.ExternalId'
                },
                success: function (response) {
                    $("#modal-overlay").empty();
                    $("#modal-overlay").html(response);
                    $("#modal-overlay").show();
                }
            });
        });

        $("#logout-menu-item").click(function (e) {
            window.location.href = '@Url.Action("Logout", "Home")';
        });

        $('#schedule-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "Schedules")';
        });

        $('#sequences-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "Sequences")';
        });

        $('#scripts-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "Scripts")';
        });

        $('#history-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "History")';
        });

        $('#back-to-projects').click(function () {
            window.location.href = '@Url.Action("Index", "Main")';
        });
    });
</script>

<div class="header-bar">
    <img id="logo" src="~/Images/logo.png" class="left" />
    <div id="logo-title" class="left">GhostRunner</div>
    <div id="action-container" class="right">
        <div id="user-profile-menu" class="right button-padding">
            <button id="user-menu-select">@Model.User.Name</button>
            <div id="user-menu" class="menu" style="display: none">
                <div id="package-cache-menu-item" class="menu-item">Package Cache</div>
                <div id="logout-menu-item" class="menu-item">Log Out</div>
            </div>
        </div>
        <div class="right"><button id="back-to-projects">Back to Projects</button></div>
    </div>
    <div class="clear"></div>
</div>
<div id="page-content">
    <div id="page-navigation">
        <ul class="left">
            <li id="schedule-nav">Schedule</li>
            <li id="sequences-nav">Sequences</li>
            <li id="scripts-nav">Scripts</li>
            <li id="history-nav" class="selected">History</li>
        </ul>
        <div class="clear"></div>
    </div>
    <div id="main" class="page-panel">
        @if (Model.Tasks.Count > 0)
        {
            <div id="script-task-container">@Html.Partial("Partials/TaskHistory", Model.Tasks)</div>
            if (Model.Tasks.Count == 15)
            {
                
                <div id="load-tasks-container" style="text-align:center"><br /><button id="load-tasks" onclick="loadTasks()">More Tasks</button></div>
            }
        }
        else
        {
            <div class="none-defined">No tasks have previously been ran</div>
        }
    </div>
</div>
