@model Task

<table>
    <tr>
        <td><span class="detail-header">Created:</span>&nbsp;</td>
        <td>@Model.Created.ToString("ddd dd MMM yy, hh:mm:ss tt")</td>
    </tr>
    <tr>
        <td><span class="detail-header">Started:</span>&nbsp;</td>
        @if ((Model.Status != Status.Unprocessed) && (Model.Started.HasValue))
        {
            <td>@Model.Started.Value.ToString("ddd dd MMM yy, hh:mm:ss tt")</td>
        }
        else
        {
            <td>-</td>
        }
    </tr>
    <tr>
        <td><span class="detail-header">Completed:</span>&nbsp;</td>
        @if (((Model.Status == Status.Completed) || (Model.Status == Status.Errored)) && (Model.Completed.HasValue))
        {
            <td>@Model.Completed.Value.ToString("ddd dd MMM yy, hh:mm:ss tt")</td>
        }
        else
        {
            <td>-</td>
        }
    </tr>
</table>
<br />
<div>
    <div class="detail-header">Parameters</div>
    @if ((Model.TaskScripts.Count > 0) && (Model.TaskScripts.First().TaskScriptParameters.Count > 0))
    {
        <table>
            @foreach (TaskScriptParameter tp in Model.TaskScripts.First().TaskScriptParameters)
            {
                <tr>
                    <td><b>@tp.Name:</b>&nbsp;</td>
                    <td>@tp.Value</td>
                </tr>
            }
        </table>
    }
    else
    {
        <div><i>This script has no parameters</i></div>
    }
</div>
<br />
<div>
    <div class="detail-header">Input Script</div>
    @if (Model.TaskScripts.Count > 0)
    { <div class="code">@Html.Raw(Model.TaskScripts.First().GetHTMLFormattedContent())</div> }
    else
    { <div><i>Undefined</i></div> }
</div>
<br />
<div>
    <div class="detail-header">Ran Script</div>
    @if ((Model.TaskScripts.Count > 0) && ((Model.Status == Status.Completed) || (Model.Status == Status.Errored)))
    { <div class="code">@Html.Raw(Model.TaskScripts.First().GetHTMLFormattedPhantomScript())</div> }
    else
    { <div><i>Unavailable</i></div> }
</div>
<br />
<div>
    <div class="detail-header">Log</div>
    @if ((Model.TaskScripts.Count > 0) && ((Model.Status == Status.Completed) || (Model.Status == Status.Errored)))
    { <div class="code">@Html.Raw(Model.TaskScripts.First().GetHTMLFormattedLogScript())</div> }
    else
    { <div><i>Unavailable</i></div> }
</div>