@model Task

<table>
    <tr>
        <td><span class="detail-header">Created:</span>&nbsp;</td>
        <td>@Model.Created.ToString("ddd dd MMM yy, hh:mm:ss tt")</td>
    </tr>
    <tr>
        <td><span class="detail-header">Started:</span>&nbsp;</td>
        @if ((Model.Status != Status.Unprocessed) && (Model.Started.HasValue))
        {
            <td>@Model.Started.Value.ToString("ddd dd MMM yy, hh:mm:ss tt")</td>
        }
        else
        {
            <td>-</td>
        }
    </tr>
    <tr>
        <td><span class="detail-header">Completed:</span>&nbsp;</td>
        @if (((Model.Status == Status.Completed) || (Model.Status == Status.Errored)) && (Model.Completed.HasValue))
        {
            <td>@Model.Completed.Value.ToString("ddd dd MMM yy, hh:mm:ss tt")</td>
        }
        else
        {
            <td>-</td>
        }
    </tr>
</table>
<br />
<div>
    <div class="detail-header">Script(s)</div>
    @if (Model.TaskScripts.Count > 0)
    { 
        foreach(TaskScript taskScript in Model.TaskScripts)
        {
            <div class="code">@Html.Raw(taskScript.GetHTMLFormattedContent())</div>
            <br />
        }
    }
    else
    { 
        <div><i>None defined</i></div>
        <br/>
    }
</div>
<div>
    <div class="detail-header">Log</div>
    @if ((Model.TaskScripts.Count > 0) && ((Model.Status == Status.Completed) || (Model.Status == Status.Errored)))
    { 
        <div class="code">
            @foreach(TaskScript taskScript in Model.TaskScripts)
            {
                @Html.Raw(Model.TaskScripts.First().GetHTMLFormattedLogScript())
            }
        </div> 
    }
    else
    {
        <div><i>Unavailable</i></div>
    }
</div>