@model GhostRunner.ViewModels.Scripts.Partials.CreateScriptModel

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#Content").keydown(function (e) {
            if (e.keyCode === 9) {
                var start = this.selectionStart;
                var end = this.selectionEnd;

                var $this = $(this);
                var value = $this.val();

                $this.val(value.substring(0, start)
                            + "\t"
                            + value.substring(end));

                this.selectionStart = this.selectionEnd = start + 1;

                e.preventDefault();
            }
        });
    });
</script>

@using (Html.BeginForm("InsertNewScript/" + Model.Project.ExternalId, "Scripts", FormMethod.Post, new { @id = "new-script", @autocomplete = "off" }))
{
    <div class="model-code panel">
        <div class="header">New Script - @ScriptHelper.GetReadableScriptType(Model.ScriptType)</div>
        <div class="body">
            <div class="section">
                <div class="header">Name @Html.ValidationMessageFor(model => model.GhostRunnerScript.Name)</div>
                <div class="input-container">@Html.TextBoxFor(model => model.GhostRunnerScript.Name)</div>
            </div>
            <div class="section">
                <div class="header">Description (Optional)</div>
                <div class="input-container">@Html.TextAreaFor(model => model.GhostRunnerScript.Description, new { @class = "textarea" })</div>
            </div>
            @Html.Partial("ScriptType/modify/" + Model.ScriptType.ToString().ToLower(), Model.GhostRunnerScript)
        </div>
        <div class="navigation">
            <div class="left"><input type="button" onclick="clearModalDialog();" value="Cancel" /></div>
            <div class="right"><input type="submit" value="Create" /></div>
            <div class="clear"></div>
        </div>
    </div>
}
<script language="javascript" type="text/javascript">
    $.validator.unobtrusive.parse($("#new-script"));
</script>