@model GhostRunner.ViewModels.Sequences.Partials.SequencedScriptModel

<script language="javascript" type="text/javascript">
    function runScript() {
        window.location.href = '@Url.Action("RunSequencedScript/" + Model.SequenceScript.ExternalId, "Sequences")';
    }

    function editScript() {
        $("#edit-code").show();
        $("#view-code").hide();
    }

    function cancelEditScript() {
        $("#edit-code").hide();
        $("#view-code").show();
    }

    $(document).ready(function () {
        $("textarea").keydown(function (e) {
            if (e.keyCode === 9) {
                var start = this.selectionStart;
                var end = this.selectionEnd;

                var $this = $(this);
                var value = $this.val();

                $this.val(value.substring(0, start)
                            + "\t"
                            + value.substring(end));

                this.selectionStart = this.selectionEnd = start + 1;

                e.preventDefault();
            }
        });
    });
</script>

<div id="view-code" class="model-code panel">
    <div class="header">@Model.SequenceScript.Name - @ScriptHelper.GetReadableScriptType(Model.SequenceScript.Type.ToString())</div>
    <div class="body">
        <div class="section">
            @Html.Partial("ScriptType/view/" + Model.SequenceScript.Type.ToString().ToLower(), Model.SequenceScript)
        </div>
    </div>
    <div class="navigation">
        <div class="left button-padding"><input type="button" onclick="editScript();" value="Edit" /></div>
        <div class="left button-padding"><input type="button" onclick="runScript();" value="Run" /></div>
        <div class="right"><input type="button" onclick="clearModalDialog();" value="Close" /></div>
        <div class="clear"></div>
    </div>
</div>
<div id="edit-code" class="model-code panel" style="display: none;">
    @using (Html.BeginForm("UpdateSequencedScript/" + Model.SequenceScript.ExternalId, "Sequences"))
    {
        <div class="body">
            <div class="section">
                <div class="detail-header">Script Name</div>
                <div class="input-container">@Html.TextBoxFor(model => model.SequenceScript.Name)</div>
            </div>
            @Html.Partial("ScriptType/modify/" + Model.SequenceScript.Type.ToString().ToLower(), Model.SequenceScript)
        </div>
        <div class="navigation">
            <div class="left"><input type="button" onclick="cancelEditScript()" value="Cancel" /></div>
            <div class="right"><input type="submit" value="Update" /></div>
            <div class="clear"></div>
        </div>
    }
</div>