@{
    Layout = "~/Views/Shared/_Sequences.cshtml";
}
@model GhostRunner.ViewModels.Sequences.IndexModel

<script language="javascript" type="text/javascript">
    function createSequence() {
        $.ajax({
            url: '@Url.Action("ViewCreateSequenceDialog", "Sequences")',
            type: "GET",
            data: {
                projectId: '@Model.Project.ExternalId'
            },
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }

    function runSequence(sequenceId) {
        $.ajax({
            url: '@Url.Action("ViewRunSequenceDialog", "Sequences")',
            type: "GET",
            data: {
                sequenceId: sequenceId
            },
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }

    function viewSequencedScript(sequenceScriptId) {
        $.ajax({
            url: '@Url.Action("ViewSequencedScriptDialog", "Sequences")',
            type: "GET",
            data: {
                sequenceScriptId: sequenceScriptId
            },
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }

    function editScripts(sequenceId) {
        window.location.href = '@Url.Action("Sequence/" + Model.Project.ExternalId)/' + sequenceId;
    }

    function deleteSequence(sequenceId) {
        $.ajax({
            url: '@Url.Action("ConfirmDeleteSequence", "Sequences")',
            type: "GET",
            data: {
                sequenceId: sequenceId
            },
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }

    function showSequenceDetail(sequenceId) {
        $("#sequence-action_" + sequenceId).show();
        $("#sequence-more_" + sequenceId).hide();
        $("#sequence-hide_" + sequenceId).show();
    }

    function hideSequenceDetail(sequenceId) {
        $("#sequence-action_" + sequenceId).hide();
        $("#sequence-more_" + sequenceId).show();
        $("#sequence-hide_" + sequenceId).hide();
    }

    $(document).ready(function () {
        $(document).click(function (e) {
            if ($("#user-menu").is(":visible")) $("#user-menu").hide();
        });

        $("#user-menu-select").click(function (e) {
            e.stopPropagation();
            e.preventDefault();

            if ($("#user-menu").is(":visible")) $("#user-menu").hide();
            else $("#user-menu").show();
        });

        $("#user-menu").click(function (e) {
            e.stopPropagation();
            e.preventDefault();
        });

        $("#package-cache-menu-item").click(function (e) {
            $("#user-menu").hide();

            $.ajax({
                url: '@Url.Action("GetPackageCache", "PackageCaching")',
                type: "GET",
                data: {
                    projectId: '@Model.Project.ExternalId'
                },
                success: function (response) {
                    $("#modal-overlay").empty();
                    $("#modal-overlay").html(response);
                    $("#modal-overlay").show();
                }
            });
        });

        $("#logout-menu-item").click(function (e) {
            window.location.href = '@Url.Action("Logout", "Home")';
        });

        $('#schedule-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "Schedules")';
        });

        $('#sequences-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "Sequences")';
        });

        $('#scripts-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "Scripts")';
        });

        $('#history-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "History")';
        });

        $('#back-to-projects').click(function () {
            window.location.href = '@Url.Action("Index", "Main")';
        });

        $(".button-visibility").click(function (e) {
            var sequenceIdParts = this.id.split("_");

            if (!$("#button-container_" + sequenceIdParts[1]).is(":visible")) {
                $("#button-container_" + sequenceIdParts[1]).show();
                $(this).html(">");
            }
            else {
                $("#button-container_" + sequenceIdParts[1]).hide();
                $(this).html("<");
            }
        });

        @if(!String.IsNullOrEmpty(Model.SequenceId))
        {
            <text>showSequenceDetail('@Model.SequenceId')</text>
        }
    });
</script>

<div class="header-bar">
    <img id="logo" src="~/Images/logo.png" class="left" />
    <div id="logo-title" class="left">GhostRunner</div>
    <div id="action-container" class="right">
        <div id="user-profile-menu" class="right button-padding">
            <button id="user-menu-select">@Model.User.Name</button>
            <div id="user-menu" class="menu" style="display: none">
                <div id="package-cache-menu-item" class="menu-item">Package Cache</div>
                <div id="logout-menu-item" class="menu-item">Log Out</div>
            </div>
        </div>
        <div class="right"><button id="back-to-projects">Back to Projects</button></div>
    </div>
    <div class="clear"></div>
</div>
<div id="page-content">
    <div id="page-navigation">
        <ul class="left">
            <li id="schedule-nav">Schedule</li>
            <li id="sequences-nav" class="selected">Sequences</li>
            <li id="scripts-nav">Scripts</li>
            <li id="history-nav">History</li>
        </ul>
        <div class="header-button right"><button id="create-script-button" onclick="createSequence()">Create</button></div>
        <div class="clear"></div>
    </div>
    <div id="main" class="page-panel">
        @if (Model.Sequences.Count > 0)
        {
            foreach (Sequence sequence in Model.Sequences)
            {
                <div class="item-container">
                    <div class="left" style="width: 555px;">
                        <div class="title">@sequence.Name</div>
                        <div class="desc">@sequence.Description</div>
                    </div>
                    <div id="button-container_@sequence.ExternalId" class="button-container">
                        <button class="right button-padding" onclick="runSequence('@sequence.ExternalId')">Run</button>
                        <button class="right button-padding" onclick="editScripts('@sequence.ExternalId')">Edit</button>
                        <button class="right" onclick="deleteSequence('@sequence.ExternalId')">Delete</button>
                        <div class="clear"></div>
                    </div>
                    <div id="button-visibility_@sequence.ExternalId" class="button-visibility"><</div>
                    <div class="clear"></div>
                    <div id="sequence-more_@sequence.ExternalId" class="more" onclick="showSequenceDetail('@sequence.ExternalId')">More...</div>
                    <div id="sequence-hide_@sequence.ExternalId" class="more" onclick="hideSequenceDetail('@sequence.ExternalId')" style="display:none">Less...</div>
                    <div id="sequence-action_@sequence.ExternalId" class="detail" style="display:none">
                        <div class="detail-header">External ID</div>
                        <div>@sequence.ExternalId</div>
                        <br />
                        <div class="detail-header">Scripts</div>
                        <div>
                            <div class="bookend bookend-start">Start</div>
                            <div id="script-sequence">
                                @if (sequence.SequenceScripts.Count > 0)
                                {
                                    foreach (SequenceScript script in sequence.SequenceScripts.OrderBy(ss => ss.Position))
                                    {
                                        <div id="script_@script.ExternalId" class="script sequence-script" script-id="@script.ExternalId" ondblclick="viewSequencedScript('@script.ExternalId')">
                                            <div>@script.Name</div>
                                            <div class="script-type">@ScriptHelper.GetReadableScriptType(script.Type.ToString())</div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div style="text-align: center">...</div>
                                }
                            </div>
                            <div class="bookend bookend-end">End</div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="none-defined">You currently have no sequences defined</div>
        }
    </div>
</div>