@{
    Layout = "~/Views/Shared/_Sequences.cshtml";
}
@model GhostRunner.ViewModels.Sequences.SequenceModel

<script language="javascript" type="text/javascript">
    function viewScript(scriptId) {
        $.ajax({
            url: '@Url.Action("ViewScriptDialog", "Sequences")',
            type: "GET",
            data: {
                scriptId: scriptId
            },
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }
    function viewSequencedScript(sequenceScriptId) {
        $.ajax({
            url: '@Url.Action("ViewSequencedScriptDialog", "Sequences")',
            type: "GET",
            data: {
                sequenceScriptId: sequenceScriptId
            },
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }

    $(document).ready(function () {
        $(".available-script").draggable({
            revert: true,
            revertDuration: 0,
            helper: 'clone'
        });

        $("#script-sequence-container").droppable({
            accept: ".available-script",
            tolerance: "pointer",
            greedy: true,
            drop: function (e, ui) {
                $.ajax({
                    url: '@Url.Action("GetSequenceScriptParameters", "Sequences")',
                    type: "GET",
                    data: {
                        sequenceId: '@Model.Sequence.ExternalId',
                        scriptId: $(ui.draggable).attr("script-id")
                    },
                    success: function (response) {
                        $("#modal-overlay").empty();
                        $("#modal-overlay").html(response);
                        $("#modal-overlay").show();
                    }
                });
            }
        });

        $("#script-sequence").sortable({
            stop: function (e) {
                var scriptArray = [],
                    scripts = $(this).children();

                for (var i = 0, scriptsLength = scripts.length; i < scriptsLength; i++) {
                    scriptArray.push($(scripts[i]).attr("script-id"));
                }

                $.ajax({
                    url: '@Url.Action("UpdateScriptSequences", "Sequences")',
                    type: "PUT",
                    data: {
                        sequenceId: '@Model.Sequence.ExternalId',
                        scriptSequence: JSON.stringify(scriptArray)
                    }
                });
            }
        });

        $('#schedule-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "Schedule")';
        });

        $('#sequences-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "Sequences")';
        });

        $('#scripts-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "Scripts")';
        });

        $('#history-nav').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "History")';
        });

        $('#back-to-sequences').click(function () {
            window.location.href = '@Url.Action("Index/" + Model.Project.ExternalId, "Sequences")';
        });
    });
</script>

<div class="header-bar">
    <img id="logo" src="~/Images/logo.png" class="left" />
    <div id="logo-title" class="left">GhostRunner</div>
    <div id="action-container" class="right">
        <div id="user-profile-menu" class="right button-padding"><button>@Model.User.Name</button></div>
        <div class="right"><button id="back-to-sequences">Back to Sequences</button></div>
    </div>
    <div class="clear"></div>
</div>
<div id="page-content">
    <ul id="page-navigation">
        <li id="schedule-nav">Schedule</li>
        <li id="sequences-nav" class="selected">Sequences</li>
        <li id="scripts-nav">Scripts</li>
        <li id="history-nav">History</li>
    </ul>
    <div id="main" class="page-panel">
        <div class="header">@Model.Sequence.Name</div>
        <div id="all-scripts-container" class="item-container left" style="width: 195px">
            <div class="title">Available Scripts</div>
            <div id="all-scripts">
                @foreach (Script script in Model.Scripts)
                {
                    <div id="script_@script.ExternalId" class="script available-script" script-id="@script.ExternalId" ondblclick="viewScript('@script.ExternalId')">@script.Name</div>
                }
            </div>
        </div>
        <div id="script-sequence-container" class="item-container right" style="width: 525px;">
            <div class="title">Current Sequence</div>
            <div class="bookend bookend-start">Start</div>
            <div id="script-sequence">@Html.Partial("Partials/SequenceScripts", Model.GetSequenceScriptsModel())</div>
            <div class="bookend bookend-end">End</div>
        </div>
        <div class="clear"></div>
    </div>
</div>