@{
    Layout = "~/Views/Shared/_Main.cshtml";
}
@model GhostRunner.ViewModels.Main.IndexModel

<script language="javascript" type="text/javascript">
    function createProject() {
        $.ajax({
            url: '@Url.Action("GetNewProjectDialog", "Main")',
            type: "GET",
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }

    function editProject(projectId) {
        $.ajax({
            url: '@Url.Action("GetEditProjectDialog", "Main")',
            type: "GET",
            data: {
                projectId: projectId
            },
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }

    function deleteProject(projectId) {
        $.ajax({
            url: '@Url.Action("ConfirmDeleteProject", "Main")',
            type: "GET",
            data: {
                projectId: projectId
            },
            success: function (response) {
                $("#modal-overlay").empty();
                $("#modal-overlay").html(response);
                $("#modal-overlay").show();
            }
        });
    }

    $(document).ready(function () {
        $(".project").click(function (e) {
            var projectIdParts = this.id.split("_");

            window.location.href = "/Schedules/Index/" + projectIdParts[1];
        });

        $(".link").click(function (e) {
            e.stopPropagation();
            e.preventDefault();

            window.open($(this).html());
        });

        $(".button-visibility").click(function (e) {
            e.stopPropagation();
            e.preventDefault();

            var projectIdParts = this.id.split("_");

            if (!$("#button-container_" + projectIdParts[1]).is(":visible")) {
                $("#button-container_" + projectIdParts[1]).show();
                $(this).html(">");
            }
            else {
                $("#button-container_" + projectIdParts[1]).hide();
                $(this).html("<");
            }
        });

        $("button").click(function (e) {
            e.stopPropagation();
            e.preventDefault();
        });
    });
</script>

<div class="header-bar">
        <img id="logo" src="~/Images/logo.png" class="left" />
        <div id="logo-title" class="left">GhostRunner</div>
        <div id="action-container" class="right">
            <div id="user-profile-menu" class="right button-padding"><button>@Model.User.Name</button></div>
            <div id="create-project-button" class="right"><button id="create-project" onclick="createProject()">Create a Project</button></div>
        </div>
        <div class="clear"></div>
    </div>
<div id="page-content">
    <div id="project-list">
        @foreach (Project project in Model.Projects)
        {
            <div id="project_@project.ExternalId" class="project page-panel">
                <div class="title">@project.Name</div>
                <div id="button-container_@project.ExternalId" class="button-container">
                    <button class="right button-padding" onclick="editProject('@project.ExternalId')">Edit</button>
                    <button class="right" onclick="deleteProject('@project.ExternalId')">Delete</button>
                    <div class="clear"></div>
                </div>
                <div id="button-visibility_@project.ExternalId" class="button-visibility"><</div>
                <div class="clear"></div>
            </div>
        }
    </div>
</div>